<li class="page-scroll">
    <a href="{% url 'home' %}">home</a>
</li>
<li class="page-scroll">
    <a href="{% url 'relacionamento_home' %}">Relacionamento</a>
</li>
<li class="page-scroll">
    <a href="{% url 'vendas_home' %}">Vendas</a>
</li>
<li class="page-scroll">
    <a href="{% url 'producao_home' %}">Produção</a>
</li>
<li class="page-scroll">
    <a href="{% url 'compras_home' %}">Compras</a>
</li>
<li class="page-scroll">
    <a href="{% url 'estoque_home' %}">Estoque</a>
</li>
<li class="page-scroll">
    <a href="{% url 'receitas_home' %}">Receitas</a>
</li>
