{% load static from staticfiles %}
<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">
                <div class="intro-text">
                    <h1 class="name">Dindri Deliciosos</h1>
                    <hr class="star-light">
                    <span class="skills">Dindins deliciosos, de vários sabores. Experimente, você vai gostar.</span>
                </div>
            </div>
        </div>
    </div>
</header>
