{% extends 'base.html' %}
{% load static from staticfiles %}
{% block javascript %}
<link href="{% static 'css/estoque.css' %}" rel="stylesheet">
{% endblock %}
{% block menu %} {% include 'home_menu.html' %} {% endblock %}
{% block titulo %} {% include 'estoque.html' %} {% endblock %}
{% block main %}
<h3>Lista de categorias de itens do estoque</h3>
<div class="panel-heading panel-success">
    <a class="btn btn-success btn-lg" href="{% url 'categoria_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="texto-botao">Nova categoria</span>
    </a>
</div>

<div>
    <table class="field-form-black table table-hover">
        <thead>
        <tr>
            <th width="100px">&nbsp;</th>
            <th width="50%">Nome</th>
            <th width="35%">Descrição</th>
        </tr>
        </thead>
        <tbody>
        {% with 'categoria' as object_nome %}
        {% if object_list %}
        {% for item in object_list %}
        <tr>
            <td>{% include 'estoque_icone_list.html' %}</td>
            <td><span>{{item.nome}}</span></td>
            <td><span>{{item.descricao}}</span></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">Não há registros de {{ object_nome}}.</td>
        </tr>
        {% endif %}
        {% endwith %}
        </tbody>
    </table>
</div>
{% endblock %}