{% extends 'base.html' %}
{% block menu %} {% include 'home_menu.html' %} {% endblock %}
{% block titulo %} {% include 'estoque.html' %} {% endblock %}
{% block main %}
<h1>Detalhe do item</h1>
<p>{{object.nome}}</p>
<p>{{object.descricao}}</p>
<p><a class="btn btn-success" href="{% url 'item_update' object.id %}">Editar</a></p>
<p><a class="btn btn-danger" href="{% url 'item_delete' object.id %}">Excluir</a></p>
<p><a class='btn btn-info" href="{% url ' item_list' %}">Voltar</a></p>
{% endblock %}
