{% extends 'base.html' %}
{% block menu %} {% include 'home_menu.html' %} {% endblock %}
{% block titulo %} {% include 'producao.html' %} {% endblock %}
{% block main %}
<h1>Detalhes da base</h1>
<p>{{object.nome}}</p>
<p>{{object.descricao}}</p>
<p><a class="btn btn-success" href="{% url 'base_update' object.id %}">Editar</a></p>
<p><a class="btn btn-danger" href="{% url 'base_delete' object.id %}">Excluir</a></p>
<p><a class='btn btn-info" href="{% url ' base_list' %}">Voltar</a></p>
{% endblock %}
