<div class="list-group menu-local">
    <a class="list-group-item" href="{% url 'producao_home' %}">Home</a>
    <a class="list-group-item" href="{% url 'lote_base_list' %}">Lotes de bases</a>
    <a class="list-group-item" href="{% url 'lote_produto_list' %}">Lotes de produtos</a>
    <a class="list-group-item" href="{% url 'lote_sabor_list' %}">Lotes de sabores</a>
    <a class="list-group-item" href="{% url 'tipo_base_list' %}">Tipos de bases</a>
    <a class="list-group-item" href="{% url 'tipo_produto_list' %}">Tipos de produtos</a>
    <a class="list-group-item" href="{% url 'tipo_sabor_list' %}">Tipos de sabores</a>
    <a class="list-group-item" href="{% url 'base_list' %}">Bases</a>
    <a class="list-group-item" href="{% url 'sabor_list' %}">Sabores</a>
    <a class="list-group-item" href="{% url 'produto_list' %}">Produtos</a>
</div>