{% extends 'base.html' %}
{% load static from staticfiles %}
{% block javascript %}
<link href="{% static 'css/relacionamento.css' %}" rel="stylesheet">
{% endblock %}
{% block menu %} {% include 'home_menu.html' %} {% endblock %}
{% block titulo %} {% include 'relacionamento.html' %} {% endblock %}
{% block main %}
<h3>Incluir cliente</h3>
<form class="form-horizontal" method='POST'>
    {% csrf_token %}
    {% for item in form %}
    <div class="form-group">
        {{ item.errors }}
        <div class="col-sm-2">
            {{ item.label_tag }}
        </div>
        <div class="col-sm-10 field-form-black">
            {{ item }}
        </div>
    </div>
    {% endfor %}
    <div class="form-group espaco-medio">
        <div class='col-sm-offset-2 col-sm-10'>
            <button type='submit' class='btn btn-lg btn-danger botao-esquerdo'>
                <span class="glyphicon glyphicon-ok"></span>
                <span class="texto-botao">Salvar</span></button>
            <a href="{% url 'cliente_list' %}" class='btn btn-lg btn-primary'>
                <span class="glyphicon glyphicon-repeat"></span>
                <span class="texto-botao">Voltar</span></a>
        </div>
    </div>
</form>
{% endblock %}