.field-form-black {
    color: black;
}

.icone-link-inativo {
    color: gray;
}

.icone-link-ativo {
    color: black;
}

.espaco-medio {
    margin-top: 20px;
    margin-bottom: 20px;
}
.evidencia {
    border: 1px solid DarkRed;
    background-color: Crimson;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.destaque {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    border: 1px solid #1c6d5d;
    background-color: #0ae0b5;
}
.legenda {
    width:130px;
    padding-right: 5px;
}
.botoes {
    padding-left: 130px;
    padding-top: 10px;
}
.menu-local {
    padding-top: 30px;
}
.menu-item {
    color: black;
}
.texto-botao {
    padding-right: 5px;
    padding-left: 10px;
}
.botao-esquerdo {
    margin-left: 0px;
    margin-right: 25px;
}